*.cs linguist-detectable=true
src/components/layout/*.ts linguist-detectable=true
src/pages/**/*.tsx linguist-detectable=false
src/components/**/*.tsx linguist-detectable=false
*.ts linguist-detectable=false
